<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
    <meta name="description" content="" />
    <meta name="keywords" content="" />

    <title>{% block title %}Showcase{% endblock title %}</title>

    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" media="all" href="{{ asset('bundles/mdsshowcase/css/offcanvas.css') }}"/>
</head>
<body>
<div class="navbar navbar-fixed-top navbar-inverse" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">Mds Showcase</a>
        </div>
        <div class="navbar-inner col-md-offset-5">
            <ul class="nav navbar-nav ">
                {% for currency in currency_converter.currencyList()  %}
                    <li><a href="{{ path('currency_change', {'currency': currency.getCode()}) }}">{{ currency.getSymbol() }}</a></li>
                {% endfor %}
            </ul>
        </div>
        <div class="collapse navbar-collapse">
            <ul class="nav navbar-nav navbar-right">
                <li><a href="{{ path('main') }}">Home</a></li>
                {% if is_granted("IS_AUTHENTICATED_FULLY") %}
                    <li><a href="{{ path('backend_main') }}">Backend</a></li>
                    <li><a href="{{ path('ir_category_admin_category_list') }}">Categories</a></li>
                    <li><a href="{{ path('ir_product_admin_product_list') }}">Products</a></li>
                {% endif %}
                <li>
                    {% if is_granted("IS_AUTHENTICATED_FULLY") %}
                        <a href="{{ path('logout') }}">Logout ({{app.user.username}})</a>
                    {% else %}
                        <a href="{{ path('login') }}">Login</a>
                    {% endif %}
                </li>
            </ul>
        </div>
    </div>
</div>

<div class="container">

    <div class="row row-offcanvas row-offcanvas-right">
        {% block body %} {% endblock body %}
    </div>

    <hr>

    <footer>
        <p>&copy; Footer 2014</p>
    </footer>

</div>
</body>
</html>
