{% extends 'MdsShowcaseBundle::base.html.twig' %}

{% block body %}
    <div class="col-xs-6 col-sm-3 sidebar-offcanvas" id="sidebar" role="navigation">
        {% block left %}{{ render(controller("MdsShowcaseBundle:Category:listCategories", {'MasterRequest': app.request})) }}{% endblock left %}
    </div>

    <div class="col-xs-12 col-sm-9">
        {% for type, messages in app.session.flashbag.all() %}
            <div class="row">
                {% for message in messages %}
                    <div class="flash-{{ type }}">
                        {{ message }}
                    </div>
                {% endfor %}
            </div>
        {% endfor %}

        {% block content %}{% endblock content %}
    </div>
{% endblock body %}