<h4>Products</h4>

{% set route = app.request.attributes.get('_route') %}
{% set params = app.request.attributes.get('_route_params') %}

<div class="pull-right">
    <a href="{{ path(route, params|merge({'sort': 'asc'})) }}">asc</a> | <a href="{{ path(route, params|merge({'sort': 'desc'})) }}">desc</a>
</div>
<br>

{% set code = currency_converter.getCurrency() %}

{% for product in products %}
    <hr>
    <div class="media">
        <a class="pull-left" href="{{ path('product_view', {'slug': product.slug}) }}">
            <img class="media-object" alt="{{product.name}}" src="/{{product.getWebPath()}}" style="width: 80px;">
        </a>
        <div class="media-body">
            <h4 class="media-heading">
                <a href="{{ path('product_view', {'slug': product.slug}) }}">{{product.name}}</a> - {{ currency_converter.convertToString(product, code) }}
            </h4>
            {{product.description|nl2br}}
        </div>
    </div>
{% endfor %}
