{% set code = currency_converter.getCurrency() %}

<h4>{{product.name}} - {{ currency_converter.convertToString(product, code) }}</h4>
<hr>
<div class="media">
    <div class="pull-left">
        <img class="media-object" alt="{{product.name}}" src="/{{product.getWebPath()}}" style="width: 80px;">
    </div>
    <div class="media-body">
        <h4 class="media-heading">Description</h4>
        {{product.description|nl2br}}
    </div>
</div>
