{% extends 'MdsShowcaseBundle::base.html.twig' %}

{% block body %}
    <div class="row row-offcanvas row-offcanvas-right">
        <div class="col-xs-12 col-sm-12">
            {% for type, messages in app.session.flashbag.all() %}
                <div class="row">
                    {% for message in messages %}
                        <div class="flash-{{ type }}">
                            {{ message }}
                        </div>
                    {% endfor %}
                </div>
            {% endfor %}

            {% block content %}{% endblock content %}
        </div>
    </div>
{% endblock body %}
