{% extends "MdsShowcaseBundle:Backend:layout.html.twig" %}

{% block title %}Authentication{% endblock title %}

{% block content %}

<form action="{{ path("login_check") }}" method="post" class="form-horizontal" id="login-form">
    <fieldset><legend>Authentication</legend></fieldset>

    {% if error %}
        <div class="row">
            <div class="alert alert-danger col-sm-offset-2 col-sm-7">{{ error.message|trans }}</div>
        </div>
    {% endif %}

    <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}" />

    <div class="form-group">
        <label for="username" class="col-sm-2 control-label">Username</label>
        <div class="col-sm-5">
            <input type="text" id="username" class="form-control" name="_username" value="{{ last_username }}" required="required" />
        </div>
    </div>

    <div class="form-group">
        <label for="password" class="col-sm-2 control-label">Password</label>
        <div class="col-sm-5">
            <input type="password" class="form-control" id="password" name="_password" required="required" />
        </div>
    </div>

    <div class="form-group">
        <div class="col-sm-offset-2 col-sm-5">
            <input type="submit" id="_submit" name="_submit" value="Login" />
        </div>
    </div>
</form>
{% endblock content %}
