{% block left %}
    {% set route = masterRequest.attributes.get('_route') %}
    {% set params = masterRequest.attributes.get('_route_params') %}

    <div class="list-group">
        <h4>Categories</h4>
        {% for category in categories %}
            {% if route in ['category_list', 'category_list_sort'] and category.permalink in params  %}
                {% set active = 'active' %}
            {% else %}
                {% set active = '' %}
            {% endif %}

            <a href="{{ path('category_list', {'permalink': category.permalink}) }}" class="list-group-item {{ active }}">
                {{ category.name }}
            </a>
        {% endfor %}
    </div>
{% endblock left %}
